// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito','Open Sans';
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//palette pagina
$sky-color: #99e1d9;
$blue-color: #99e1d9;
$light-color: #5d576b; //cambiare nome perchè non capisco che colore sia
$red-color: #f7567c;
$title-color: #5d576b;
